@import "tailwindcss";

@theme {
  --color-cardBackground: #efeeea;
  --color-darkBackground: #0c0c0c;
  --color-detailInfoBackground: rgb(22, 26, 29);
  --font-mainHeading: AlienLeagueCondensedItalic-8p2Z, "sans-serif";
  --font-section: Kanit-Regular, "sans-serif";
}

/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

@font-face {
  font-family: "AlienLeagueCondensedItalic-8p2Z";
  src: url("/fonts/AlienLeagueCondensedItalic-8p2Z.otf") format("opentype");
}

@font-face {
  font-family: "Kanit-Regular";
  src: url("/fonts/Kanit-Regular.ttf") format("truetype");
}
